Repository fgaliza/logbook_processor: changes, and which pre-commit hooks are due for each by the changed paths.
All: pipenv-check, check-datetime-now

.pre-commit-config.yaml:

repos:
- repo: git@github.com:pre-commit/pre-commit-hooks
  rev: v2.2.3
  hooks:
  - id: debug-statements
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: check-merge-conflict
  - id: check-ast
  - id: check-byte-order-marker
  - id: check-json
  - id: forbid-new-submodules
  - id: no-commit-to-branch
  - id: flake8
    args: ['--exclude=docs/*,*migrations*', '--ignore=E501, E203']

- repo: local
  hooks:
  - id: pipenv-check
    name: Pipenv Check
    entry: pipenv check
    language: system
    files: Pipfile
    verbose: false
    pass_filenames: false

  - id: check-datetime-now
    name: check_datetime_now
    description: Prefer datetime.utcnow()
    language: pygrep
    entry: 'datetime\.now\(\)'
    types: [python]

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.20
  hooks:
  - id: isort
    args: ['--check-only', '--diff']

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.4.0
  hooks:
    - id: python-check-mock-methods

- repo: https://github.com/python/black
  rev: stable
  hooks:
    - id: black

Organize Project and add calculate distance utils and tests
  Pipfile
  Pipfile.lock
  logbook_processor/__init__.py
  logbook_processor/data/trips.json
  logbook_processor/data/waypoints.json
  logbook_processor/processor/__init__.py
  logbook_processor/processor/processor.py
  logbook_processor/processor/utils.py
  logbook_processor/tests/__init__.py
  logbook_processor/tests/test_utils.py
Due: pipenv-check, check-datetime-now

Add calculete_minute_difference method and tests
  logbook_processor/processor/utils.py
  logbook_processor/tests/test_utils.py
Due: check-datetime-now

Update dependencies and configs
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  pyproject.toml
Due: pipenv-check

Add get_waypoint_from_json method and tests
  logbook_processor/processor/utils.py
  logbook_processor/tests/test_utils.py
Due: check-datetime-now

Add save_trips method and test
  logbook_processor/processor/utils.py
  logbook_processor/tests/test_utils.py
Due: check-datetime-now

Add method to generate file names
  logbook_processor/processor/utils.py
  logbook_processor/tests/test_utils.py
Due: check-datetime-now

Add LogbookProcessor and create entities file to hold NamedTuples
  logbook_processor/processor/entities.py
  logbook_processor/processor/processors.py
  logbook_processor/processor/utils.py
  logbook_processor/tests/test_processors.py
  logbook_processor/tests/test_utils.py
Due: check-datetime-now

Update dependencies
  Pipfile
  Pipfile.lock
Due: pipenv-check

Create CLI to process waypoint file
  cli.py
  logbook_processor/data/my_trips_2019-05-27 04:58:00.092145.json
  logbook_processor/processor/processors.py
  logbook_processor/processor/utils.py
  logbook_processor/tests/test_processors.py
Due: check-datetime-now

Refactor processor to ListProcessor. Refactor tests
  cli.py
  logbook_processor/processor/processors.py
  logbook_processor/tests/test_processors.py
Due: check-datetime-now

Add project installation guide
  README.md
Due: none
